.card-item {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-item:hover {
  cursor: pointer;
  border: 1px solid black;
}
.btn {
  margin: 0px 10px;
}
.telephoneModal {
  width: 100%;
  color: black;
  font-size: inherit;
}
