@font-face {
  font-family: Kindly; /* Имя шрифта */
  src: url(../../assets//fonts/19516.otf); /* Путь к файлу со шрифтом */
}
/* body {
  font-family: Kindly;
} */
.telephone {
  width: 100%;
  /* background-image: url(../../assets/img/icons8-мтс-50.png); */
  background-size: 10%;
  background-position-x: 55px;
  background-repeat: no-repeat;
  /* color: blue; */
  margin-right: -16px;
  color: black;
  font-weight: bold;
  /* font-family: Kindly; */
  /* letter-spacing: 5px; */
}

/* MENU STYLES */
.drawer-wrap {
  overflow: hidden;
  position: relative;
  /* background-image: url(../../assets/img/bg.png); */
  background-size: 10%;
  background-color: #99ede5;
}

.menu-header {
  height: 90px;
  border-bottom: 1px solid #dee2e6;
}
.menu-header .h2 {
  font-size: 1.5rem;
}
@media (min-width: 576px) {
  .menu-header {
    height: 75px;
  }
  .menu-header .h2 {
    font-size: 2rem;
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  flex: 0 0 auto;
  background-color: #fff;
  width: 240px;
  height: 100vh;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
  box-shadow: 6px 0 6px -3px #333;
  z-index: 90;
  overflow: hidden;
}
.drawer .drawer-header {
  position: relative;
  z-index: 50;
  background-color: #fff;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
}
@media (min-width: 576px) {
  .drawer .drawer-header {
    height: 75px;
  }
}

.drawer .menu-container {
  overflow: auto;
  height: 100vh;
  margin-top: -70px;
  padding-top: 86px !important;
  z-index: 10;
}
@media (min-width: 576px) {
  .drawer .menu-container {
    margin-top: -75px;
    padding-top: 91px !important;
  }
}

.drawer .menu-container .menu-item {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #199d76;
  display: block;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
}
.drawer .menu-container .menu-item:hover {
  background-color: #e9ecef;
  color: #199d76;
}
.drawer .menu-container .menu-item:active,
.drawer .menu-container .menu-item:focus,
.drawer .menu-container .menu-item.active {
  background-color: #e9ecef;
  color: #127155;
}
.drawer .menu-container .divider {
  border-bottom: 1px solid #dee2e6;
}

.menu-button {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
  font-size: 1.35rem important!;
  background-color: #e9ecef;
  padding: 2px;
  border-color: #ced4da;
  width: 42px;
  box-shadow: 0.15rem 0.25rem 0.35rem rgba(0, 0, 0, 0.25);
}

/* ADDED !important BECAUSE OF THE ORDER THE STYLES ARE ADDED */
.menu-button:focus,
.menu-button:active {
  box-shadow: 0.15rem 0.25rem 0.35rem rgba(0, 0, 0, 0.25) !important;
}
@media (min-width: 576px) {
  .menu-button {
    font-size: 1.75rem;
    width: 50px;
  }
  .img-logo {
    top: 0px;
  }
  .logo-text {
    position: relative;
    top: -67px;
    text-align: center;
    right: 45px;
  }
}
@media (min-width: 750px) {
  .telephone {
    background-position-x: 46px;
  }
}
@media (min-width: 1010px) {
  .telephone {
    background-size: 9%;
    background-position-x: 147px;
  }
}
@media (min-width: 1430px) {
  .telephone {
    background-size: 7%;
    background-position-x: 245px;
  }
}
@media (max-width: 576px) {
  .telephone {
    width: 274px;
  }
  .img-logo {
    top: -21px;
  }
  .logo-text {
    position: relative;
    top: -77px;
    right: 21px;
    text-align: center;
  }
}
.img-logo {
  position: relative;
  /* top: 0; */
}
.logo-text {
  font-family: Kindly;
  font-weight: bolder;
  color: blue;
}
.content-veil {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  z-index: 85;
}
